{% extends "base.html" %} {% load static %}
{% block script %}
<script src="https://d3js.org/d3.v7.min.js"></script>
  <script>
    window.APP_CONFIG = window.APP_CONFIG || {};
    window.APP_CONFIG.diagnosesJsonUrl = "{% static 'markup/data/diagnoses.json' %}";
  </script>

{{ data|json_script:"ecgData" }}
{{ ecg_names|json_script:"ecgNames" }}
{% comment %} {{ diseases_json|json_script:"diseasesData" }} {% endcomment %}
{{ markups|json_script:"markups" }}

<script type="module" src="{% static 'markup/js/app.js'%}"></script>
{% endblock %} {% block content %}
<div class="container-fluid mt-3">

  {% if messages %}
  <div class="row">
    <div class="col-12">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-3" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row g-3">
    <div class="col-9">
      <div class="d-flex gap-2" id="charts-container">
        <div class="flex-grow-1 ecg-chart-container" style="flex-basis: 0" id="left-column"></div>
        <div class="flex-grow-1 ecg-chart-container" style="flex-basis: 0" id="right-column"></div>
      </div>
    </div>
    
    <div class="col-3 position-sticky end-0">
      <div class="card">
        <div class="card-header p-0">
          <ul class="d-flex nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item flex-grow-1" role="presentation" style="flex-basis: 0;">
              <button
                class="nav-link active w-100"
                id="markup-tab"
                data-bs-toggle="tab"
                data-bs-target="#markup-content"
                type="button"
                role="tab"
              >
                Разметка
              </button>
            </li>
            <li class="nav-item flex-grow-1" role="presentation" style="flex-basis: 0;">
              <button
                class="nav-link w-100"
                id="diagnosis-tab"
                data-bs-toggle="tab"
                data-bs-target="#diagnosis-content"
                type="button"
                role="tab"
              >
                Диагнозы
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="markup-content" role="tabpanel">

              {% for item in markup_types %}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="markup-option"
                    id="{{ item.value|slugify }}-option"
                    value="{{ item.value }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                  <label class="form-check-label d-flex align-items-center" for="{{ item.value|slugify }}-option">
                    <span style="color: {{ item.color }}; font-weight: 600">
                      {{ item.value }}
                    </span>
                  </label>
                </div>
              {% endfor %}

              {% comment %} {% include "markup/markup_save_form.html" %} {% endcomment %}
              <button id="save-markup-btn" class="btn btn-primary w-100 mt-3"> 
                Сохранить разметку
              </button>
            </div>
            <div class="tab-pane fade" id="diagnosis-content" role="tabpanel">
              {% comment %} {% include "markup/diseases_save_form.html" %} {% endcomment %}
              <div id="diagnosis-tree-container"></div>
              <button id="save-diagnoses-btn" class="btn btn-primary w-100 mt-3">
                Сохранить диагнозы
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <form id="validation-form" method="post" action="{% url 'markup:perform_markup' %}">
            {% csrf_token %}
            <input type="hidden" id="markup-data" name="markup_data">
            <input type="hidden" id="diagnoses-data" name="diagnoses_data">
            <button 
              type="submit" 
              id="submit-validation-btn" 
              class="btn btn-success w-100"
            >
              Отправить на валидацию
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
