{% extends "base.html" %}
{% load static %}
{% block script %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'markupheart/js/script2.js' %}"></script>
<script>
    window.ecgData = {{ data | safe }};
    window.ecgNames = {{ names | safe }};
</script>
{% endblock %}

{% block content %}
{% load markup_filters %}


<div style="display: flex; gap: 20px;">

    <div id="charts-container" style="display: flex; gap: 0;">
        <!-- Левая колонка -->
        <div id="left-column" style="display: flex; flex-direction: column; gap: 0;"></div>
        <!-- Правая колонка -->
        <div id="right-column" style="display: flex; flex-direction: column; gap: 0;"></div>
    </div>

    <div id="tabs-container" style="width: 300px; border: 1px solid #ccc; border-radius: 5px;">
        <nav style="display: flex; border-bottom: 1px solid #ccc;">
            <button class="tab-button active" data-tab="markup">Разметка</button>
            <button class="tab-button" data-tab="diagnosis">Диагнозы</button>
        </nav>
        <div class="tab-content" id="markup-content">
            <label><input type="radio" name="markup-option" value="QRS"> QRS</label><br>
            <label><input type="radio" name="markup-option" value="P"> P</label><br>
            <label><input type="radio" name="markup-option" value="T"> T</label><br>
            <label><input type="radio" name="markup-option" value="Noise"> Noise</label>
        </div>
        <div class="tab-content" id="diagnosis-content" style="display: none;">
            <p>Сюда можно добавить содержимое для диагнозов.</p>
        </div>
    </div>

</div>

{% endblock %}