{% extends "base.html" %}
{% load static %}
{% block script %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'markupheart/js/script2.js' %}"></script>
<script>
    window.ecgData = {{ data | safe }};
    window.ecgNames = {{ names | safe }};
</script>
{% endblock %}

{% block content %}
{% load markup_filters %}

{% comment %} <div id="grid-container"></div> {% endcomment %}

<div id="charts-container" style="display: flex; gap: 0;">
    <!-- Левая колонка -->
    <div id="left-column" style="display: flex; flex-direction: column; gap: 0;"></div>
    <!-- Правая колонка -->
    <div id="right-column" style="display: flex; flex-direction: column; gap: 0;"></div>
</div>
{% comment %}
<table>
    {% for i in 6|create_range %}
    <tr>
        <!-- Левая колонка -->
        <td>
            <div class="chart-container" id="chart-container_{{ names|return_item:i }}"></div>
        </td>
        <!-- Правая колонка -->
        <td>
            {% with j=i|add:"6" %}
            <div class="chart-container" id="chart-container_{{ names|return_item:j }}"></div>
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
</table> {% endcomment %}



{% comment %} старое: {% endcomment %}
<!--{% for i in 6|create_range %}-->
<!--&lt;!&ndash; Левая колонка &ndash;&gt;-->

<!--<div id="chart-container_{{ names|return_item:i }}"></div>-->

<!--&lt;!&ndash; Правая колонка &ndash;&gt;-->
<!--{% with j=i|add:"6" %}-->

<!--<div id="chart-container_{{ names|return_item:j }}"></div>-->
<!--{% endwith %}-->
<!--{% endfor %}-->

{% endblock %}