/* Общие стили для графиков */
#charts-container {
  box-shadow: 0 0 0 1px #7bb2e9; /* Единая граница вокруг обоих графиков */
}

/* Закругленные углы */
.rounded-start {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}
.rounded-end {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

/* Разделительная линия между графиками */
.border-start {
  border-color: #3f5f7e !important;
}

/* Отступы только на больших экранах */
@media (max-width: 991.98px) {
  .pe-lg-2, .ps-lg-2 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}