{% extends "base.html" %}

{% block content %}
{% load markupheart_filters %}

<input type="range" id="scroll" min="0" value="0" step="1">

<table>
    {% for i in 6|create_range %}
    <tr>
        <!-- Левая колонка -->
        <td>
            <h2>{{ names|return_item:i }}</h2>
            <canvas id="chart_{{ names|return_item:i }}" width="500" height="150"></canvas>
        </td>
        <!-- Правая колонка -->
        <td>
            {% with j=i|add:"6" %}
            <h2>{{ names|return_item:j }}</h2>
            <canvas id="chart_{{ names|return_item:j }}" width="500" height="150"></canvas>
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Передаем данные через глобальные переменные -->
<script>
    window.ecgData = {{ data | safe }};
    window.ecgNames = {{ names | safe }};
</script>


{% endblock %}